extends ../layout.jade

block content
  .row
    .col-sm-12
      .page-header
        h3
          span Translate Stories&nbsp;&nbsp;&nbsp;
          small Library
          .pull-right
            if user
              a(href="/profile")
                img.profile(src="#{user.photo || '/profile.png'}", alt="profile photo - click to access your own profile")
              a.btn.btn-primary(href="/logout") Log Out
            else
              a.btn.btn-primary(href="/login") Log In
  .row
    .col-sm-6
      select.language-select
        option(value="") All Languages
        option(value="en")= languageKeys['en']
        option(value="th")= languageKeys['th']
        option(value="kh")= languageKeys['kh']
        option(value="karen")= languageKeys['karen']
    .col-sm-6
      .form.searchable
        .input-group
          input.form-control(type="text", name="q", placeholder="Search by title...")
          span.input-group-btn
            button.btn.btn-default(type="button")
              span Search
  br
  br
  .row.library
    for source in sources.slice(0, 4)
      .col-md-3
        a(href="/library/listing#{source.book_id}")
          h4= source.title
          img(src=source.cover)
        br
        for language in source.languages
          span.badge(class=language)= languageKeys[language]
  .row.library
    for source in sources.slice(4, 8)
      .col-md-3
        a(href="/library/listing#{source.book_id}")
          h4= source.title
          img(src=source.cover)
        br
        for language in source.languages
          span.badge(class=language)= languageKeys[language]
  hr
  .row
    .col-sm-12
      a.btn.btn-success(href="/library/add") Add Source

          
block scripts
  script(type="text/javascript", src="/lib/jquery-1.11.3.min.js")
  script(type="text/javascript", src="/browse-library.js")
