extends ../layout.jade

block content
  .row
    .col-sm-12
      .page-header
        h3
          span Translate Stories&nbsp;&nbsp;&nbsp;
          small Library
  .row
    .col-sm-6
      select.language-select
        option(value="") All Languages
        option(value="en") English
        option(value="th") Thai
        option(value="kh") Khmer
        option(value="karen") Karen
    .col-sm-6
      .form.searchable
        .input-group
          input.form-control(type="text", name="q", placeholder="Search by title...")
          span.input-group-btn
            button.btn.btn-default(type="button")
              span Search
  br
  br
  .row.library
    for source in sources.slice(0, 4)
      .col-md-3
        a(href="/library/listing#{source.book_id}")
          h4= source.title
          img(src=source.cover)
        br
        for language in source.languages
          span.badge= language
  .row.library
    for source in sources.slice(4, 8)
      .col-md-3
        a(href="/library/listing#{source.book_id}")
          h4= source.title
          img(src=source.cover)
        br
        for language in source.languages
          span.badge= language
  hr
  .row
    .col-sm-12
      a.btn.btn-success(href="/library/add") Add Source

          
block scripts
  script(type="text/javascript", src="/lib/jquery-1.11.3.min.js")
  script(type="text/javascript", src="/select-languages.js")
  script(type="text/javascript", src="/browse-library.js")
