extends ./layout.jade

block content
  .row
    .col-sm-12
      .page-header
        h3
          span Translate Stories&nbsp;&nbsp;&nbsp;
          small Library Test
  .row
    for source in sources.slice(0, 4)
      .col-md-3
        a(href="#{source.book_id}")
          h4= source.title
          img(src="//placekitten.com/g/200/260")
        br
        for language in source.languages
          span.badge= language
  .row
    for source in sources.slice(4, 8)
      .col-md-3
        a(href="#{source.book_id}")
          h4= source.title
          img(src="//placekitten.com/g/200/300")
        br
        for language in source.languages
          span.badge= language

  .row
    .col-sm-12.col-md-8
      form.form.well(action="/addsource", method="POST")
        h4 Add source
        .form-group
          .col-sm-4
            label Upload Cover
            input(type="file", name="cover")
          .col-sm-4
            label Upload EPUB
            input(type="file", name="file")
          .clearfix
        .form-group
          label Title
          input.input(type="text", name="title", placeholder="title")
          label Authors
          input.input(type="text", name="author", placeholder="author")
        .form-group
          label Source Language
          select.languagelist(name="languages", multiple="multiple")
            option(value="en") English
            option(value="th") Thai
            option(value="karen") Karen
          
block scripts
  link(rel="stylesheet", type="text/css", href="/lib/select2.min.css")

  script(type="text/javascript", src="/lib/jquery-1.11.3.min.js")
  script(type="text/javascript", src="/lib/select2.full.js")
  script(type="text/javascript", src="/select-languages.js")
